@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    table {
        @apply w-full;
    }

    table thead {
        @apply bg-slate-200
    }

    table tbody tr {
        @apply even:bg-slate-100 odd:bg-white;
    }

    table tr th , table tr td {
        @apply p-2 text-left
    }

    .form-input {
        @apply border-gray-300 dark:border-gray-700 dark:bg-gray-900 dark:text-gray-300 focus:border-indigo-500 dark:focus:border-indigo-600 focus:ring-indigo-500 dark:focus:ring-indigo-600 rounded-md shadow-sm
    }

    /* Website */

    .site-navbutton {
        @apply border border-slate-500 p-3 rounded-3xl text-white font-bold uppercase hover:bg-slate-800 hover:px-5 transition-all duration-200;
    }

    .wellcome-page {
        background-image: url('assets/images/wellcome.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}